@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');
html {
  font-size: 10px;
}
body {
  background-color: $color-body;
  overflow: hidden;
}
.wrapper {
  font-family: 'Red Hat Mono', monospace;
  font-size: 1.8rem;
  color: $color-light;
  max-width: 1200px;
  min-width: 520px;
  height: 100vh;
  padding: 0 20px;
  margin: auto;
  text-align: center;
  user-select: none;
}
.title {
  margin: 0;
  padding: 20px 0;
}
.textarea,
.keyboard {
  width: 100%;
}
.textarea {
  box-sizing: border-box;
  height: 30vh;
  resize: none;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 2rem;
  &:focus {
    outline: none;
  }
}
.keyboard {
  display: flex;
  flex-direction: column;
  background-color: $color-keyboard;
  border-radius: 10px;
  font-size: 2rem;
  &__row {
    display: flex;
    justify-content: space-between;
    margin: 5px 1.5%;
    gap: 1.5%;
  }
}
.keyboard__row:first-child {
  margin-top: 15px;
}
.keyboard__row:last-child {
  margin-bottom: 15px;
}
@media (max-width: 730px) {

  .title {
    font-size: 2.2rem;
  }
  .description,
  .language {
    font-size: 1rem;
  }

}