.keyboard__key {
  cursor: pointer;
  background-color: $color-body;
  border-radius: 10px;
  text-align: center;
  padding-top: calc(2.25% - 0.5em);
  padding-bottom: calc(2.25% - 0.5em);
  width: 5%;
  flex-shrink: 0;
}
.keyboard__key.Space {
  flex: 4;
}
.keyboard__key.Enter {
  flex: 0.5;
}
.keyboard__key.CapsLock {
  flex: 0.4;
}
.keyboard__key.ShiftLeft {
  flex: 0.7;
}
.keyboard__key.Delete {
  width: 8%;
  flex: 0.5;
}
.keyboard__key.Tab{
  flex: 0.7;
}
.keyboard__key.ControlLeft,
.keyboard__key.ControlRight,{
  flex: 0.7;
}
.keyboard__key.Backspace{
  flex: 1;
}